<gg-search-box [objectTypeTranslationKey]="'GENERAL.PRODUCTS'" [objectsObservable]="productsObservable" [fnFilterObjects]="fnFilter"
 (listChanged)="setProducts($event)">

	<ul searchHelp>
		<li>{{'PRODUCT.SEARCH HELP.MSG1' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG2' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG3' | translate}}</li>
		<li >{{'PRODUCT.SEARCH HELP.MSG4' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG5' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG6' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG7' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG8' | translate}}</li>
<!-- 		<li>{{'PRODUCT.SEARCH HELP.MSG9' | translate}}</li>
 -->		<li>{{'PRODUCT.SEARCH HELP.MSG10' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG11' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG12' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG13' | translate}}</li>
<!-- 		<li>{{'PRODUCT.SEARCH HELP.MSG14' | translate}}</li>
 -->		<li>{{'PRODUCT.SEARCH HELP.MSG15' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG16' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG17' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG18' | translate}}</li>
		<li>{{'PRODUCT.SEARCH HELP.MSG19' | translate}}</li>
	</ul>

	<ngb-accordion accordion [closeOthers]="true">
		<ngb-panel [disabled]="true">
			<ng-template ngbPanelTitle>
				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-2">
						<b>{{'PRODUCT.COLUMN.PRODUCT' | translate}}</b>
					</div>
					<div class="col-sm-2">
						<b>{{'PRODUCT.COLUMN.SUPPLIER' | translate}}</b>
					</div>
					<div class="col-sm-1">
						<b>{{'PRODUCT.COLUMN.PACKAGE' | translate}}</b>
					</div>
					<div class="col-sm-2">
						<b>{{'PRODUCT.COLUMN.CATALOG NR' | translate}}</b>
					</div>
					<div class="col-sm-2">
						<b>{{'PRODUCT.COLUMN.PRICE' | translate}}</b>
					</div>
					<div class="col-sm-1">
						<b>{{'PRODUCT.COLUMN.FRIGO' | translate}}</b>
					</div>
					<div class="col-sm-1">
						<b>{{'PRODUCT.COLUMN.DISABLED' | translate}}</b>
					</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>

			</ng-template>
		</ngb-panel>
		<ngb-panel *ngFor="let product of products" [id]="product.data._id">
			<ng-template ngbPanelTitle>
				<div class="row" id="{{product.data._id}}">
					<div class="col-sm-1">
						<img [ngbTooltip]="'PRODUCT.LABEL.SELECT PRODUCT TIP' | translate" *ngIf="!isProductSelected(product)" height="25" width="25"
						 src="images/add.png" (click)="productSelectedInList($event, product, false)" />

						<img [ngbTooltip]="'PRODUCT.LABEL.UNSELECT PRODUCT TIP' | translate" *ngIf="isProductSelected(product)" height="25" width="25"
						 src="images/remove.png" (click)="productSelectedInList($event, product, true)" />
					</div>
					<div class="col-sm-2">{{product.data.name}}</div>
					<div class="col-sm-2">{{product.annotation.supplierName}}</div>
					<div class="col-sm-1">{{product.data.package}}</div>
					<div class="col-sm-2">{{product.data.catalogNr}}</div>
					<div class="col-sm-2">{{product.data.price | ggCurrency:product.annotation.currency}}</div>
					<div class="col-sm-1">
						<img *ngIf="product.data.isFrigo" height="25" width="25" src="images/refrigator.png" />
					</div>
					<div class="col-sm-1">
						<img height="25" width="25" src="images/closed.png" *ngIf="product.annotation.disabled" />
					</div>

				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<gg-product-detail [productObservable]="getProductObservable(product.data._id)"></gg-product-detail>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>

</gg-search-box>